.img {
    max-width: 125px;
    height: 168px;
    border-radius: 5px;
    overflow: hidden;
}

.image {
    width: 100%;
    align-self: center;
    height: 100%;
}

.loc {
    display: flex;
    align-items: center;
}

.detail {
    width: 100%;
}

.location {
    margin-left: 4px;
    margin-right: 12px;
    font-size: 10px;
    letter-spacing: 3px;
}

.loc-icon {
    color: red;
}

.title {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 0.45rem;
}

.description {
    font-size: 10px;
}

.date {
    font-weight: 500;
    font-size: 10px;
}

.line {
    width: 2px;
    color: black;
    background: black;
}

@media screen and  (width: 1024px) {
    .img {
        min-width: 125px;
        height: 168px;
        border-radius: 5px;
        overflow: hidden;
    }
}